body {
    background: #eee;
    color: #666;
    padding: 1rem;
}

h1 {
    color: darkslateblue;
    /* font-size: 13px; */
}

p {
    line-height: 1.5;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    font-family: 'Segoe UI', Verdana, sans-serif;
    letter-spacing: .1rem;
}

h2 {
    color: darkslateblue;
    padding: .1rem .3rem;
    border-left: 5px solid darkslateblue;
    border-bottom: 1px dashed #999;
}

h3 {
    text-indent: 1rem;
    color: darkolivegreen;
}

li {
    margin-bottom: .5rem;
}

a {
    color: palegoldenrod;
    background-color: darkslateblue;
    padding: .2rem .5rem;
    border-radius: 5px;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: plum;
}

img {
    border: 5px solid #666;
}

img:hover {
    border: 5px solid mediumorchid;
}

.del-text {
    text-decoration: line-through;
}

code {
    background: #999;
    color: #eee;
    font-family: consolas;
    font-size: 8pt;
    padding: .5rem;
    border-radius: 5px;
}